body {
  align-items: center;
  background: linear-gradient(rgb(143, 2, 143),rgb(1, 1, 133));
  display: flex;
  font-family: Arial;
  margin: 0;
  justify-content: center;
  color: white;
  height: 100vh;
}

.container {
  width: 350px;
  padding: 30px;
  border: 6px solid #333;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  background-color: white;
}

.profile-pic {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  border-radius: 50%;
}

h1 {
color: #333;
}

.bio {
  margin-bottom: 20px;
  color: #666;
}

h2 {
  color: #333;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  color: #666;
  margin: 10px 0;
  font-size: 18px;
}
